<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    
    <div>
        <p> find the product </p>
        <form action="/searchPrice" method="post">
<input type="text" name="brand" value="" placeholder="add brand" >
<input type="text" name="from" value=""   placeholder=" price greater than" >
<input type="text" name="to" value=""   placeholder=" price lower than" >
<input type="submit"  value="get" >

        </form>
    </div>
</body>
</html>